<tr>
  <td><%= link_to "#{group.icon}", group_entities_path(group.id)  %></td>
  <td><%= link_to "#{group.name}", group_entities_path(group.id)  %></td>
  <td><h3>Amount: $<%="#{group.amount}"%></h3></td>
  <td>
  <%= button_to "Delete this category", group_url(id: group.id), method: :delete %>
  </td>
</tr>
