<div class="sign-up">
<h1>Categories</h1>
</div>

<div id="groups">
 <table class= 'group-table'>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Total Spent</th>
    </tr>
  <% @groups.each do |group| %>
    <%= render group %>
  <%end%>
 </table>
</div>
<div class= 'new-category'>
<%= link_to "New category", new_group_path %>
</div>
