<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="groups">
 <table class= 'group-table'>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Total</th>
    </tr>
  <% @groups.each do |group| %>
    <%= render group %>
  <%end%>
 </table>
</div>

<%= link_to "New category", new_group_path %>
