@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('Proxima Nova Font.otf');
}

body {
  background-color: #f1f3f3;
}

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  background-color: #3878c4;
  color: #cadcef;
}

.home-heading {
  display: flex;
  text-align: center;
  font-size: 60px;
  color: #3d4751;
  margin-bottom: 20rem;
}

a {
  text-decoration: none;
  color: #9fa1a3;
  align-self: center;
}

li {
  display: flex;
}

.home-signup {
  display: flex;
  justify-content: center;
  width: 70%;
  font-size: 30px;
  background-color: #3878c4;
  margin-bottom: 10px;
}

.home-signin {
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 70%;
  background-color: #3878c4;
}

.signup-container {
  display: flex;
  justify-content: center;
}

.shared-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 50px;
  height: 50px;
}

.icons-list {
  display: flex;
  justify-content: space-around;
}

#groups {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #cadcef;
  background-color: white;
}

#entities {
  display: flex;
  flex-direction: column;
  border-style: solid;
  background-color: white;
}

.table {
  display: flex;
}

td {
  text-align: center;
}

.new-category {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  border-color: #cadcef;
  border-style: solid;
  height: 50px;
  width: 30%;
  font-size: 40px;
  background-color: #5fb523;
}

.transaction-form {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

form {
  width: 40%;
}

input {
  width: 90%;
  height: 50px;
  font-size: 25px;
}

select {
  width: 40%;
  height: 40px;
  font-size: 25px;
}

.save-button {
  margin-top: 15px;
}

@media only screen and (max-width: 670px) {
  .new-category {
    width: 95vw;
    font-size: 20px;
  }

  .signup-container {
    justify-content: flex-start;
  }

  td {
    padding-left: 20px;
  }

  input {
    font-size: 20px;
  }

  select {
    font-size: 15px;
  }

  li {
    width: 80px;
    height: 80px;
  }

  li input {
    width: 20px;
  }

  .icons-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .field {
    width: 90vw;
  }

  .actions {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 80vw;
    background-color: #3878c4;
    margin-top: 10rem;
  }

  .group-table {
    color: #9fa1a3;
  }
}
